body {
	margin: 0px;
	background-image: "imgs/photo-1519999482648-25049ddd37b1.png";
}

#navigation {
	background: #c7aac7;
	overflow: hidden;
}

#navigation a {
	color: #FFF;
	display: block;
	float: right;
	text-align: center;
	padding: 5px 20px;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
}

#navigation a:hover {
	background: #7a697a;
}

img#logo {
	position: relative;
	left: 500px;
}
