body {
	margin: 0px;
}

#navigation {
	background: #c7aac7;
	overflow: hidden;
}

#navigation a {
	color: #FFF;
	display: block;
	float: right;
	text-align: center;
	padding: 5px 20px;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-size: 26px;
}

#navigation a:hover {
	background: #7a697a;
}
