body {
	margin: 0px;
	font-family: 'Work Sans', sans-serif;
}

#navigation {
	background: #c7aac7;
	overflow: hidden;
}

#navigation a {
	color: #FFF;
	display: block;
	float: right;
	text-align: center;
	padding: 5px 20px;
	text-decoration: none;
	font-size: 26px;
}

#navigation a:hover {
	background: #7a697a;
}

#banner {
	width: 100%;
	background: #0F0;
	height: 400px;
}

#content {
	left: 20%;
	width: 60%;
	position: relative;
}

#content h1 {
	text-align: center;
}
